body{
    color: white;
    background-color: #84ccba;
}
.row{
    margin-right: auto;
    margin-left: auto;
}

/* ---------------- Index.html -------------------- */
#header{
    /*padding: 10px;*/
}

#content{
    background-color: #00CC99;
    border-radius: 3px;
    margin: 10px;
    -webkit-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
    -moz-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
    box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */

}

#listItem{
    border: 1px white solid;
    background-color: #006666;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
    -webkit-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
    -moz-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
    box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */

}

h1{
    font-weight: bold;
}
/* ---------------- End : Index.html -------------------- */
/* ---------------- Navbar tools ------------------ */
.navbar-default{
    border-radius: 0px;
    font-size: 16px;
}

.navbar-brand{
    font-size: 20px;
}

/* ---------------- End: Navbar tools ------------------ */